@model IEnumerable<GuestResponse>
@{
    ViewData["Title"] = "Guest List";
    int i = 0;
}

<div class="container">
    <h3>Guest List</h3>
    <p>@Model.Count() people are coming to the party</p>
    <table>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Food Restrictions</th>
        </tr>
        @foreach (var response in Model)
        {
            i += 1;
            <tr>
                <td>@i</td>
                <td>@response.Name</td>
                <td><a href="mailto:@response.Email">@response.Email</a></td>
                <td>@response.Phone</td>
                <td>@response.FoodRestrict</td>
            </tr>
        }
    </table>
</div>